<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <div style="float:left"><a href="/">Home</a></div>
    <div style="float:right"><a href="/users/login" style="margin:10px">Log In</a></div>
    <div style="float:right"><a href="/users/forget" style="margin:10px">Forgot Password</a></div>
    <div style="padding:50px">
        <h1>Register</h1>
    </div>
    <form action="/apis/register" method="post">
        <p><label style="padding-right:50px">User name or email</label>
            <input type="text" name="user" placeholder="username@example.com">

        </p>
        <p><label style="padding-right:123px">password</label>
            <input type="password" name="passwd">
        </p>
        <p><span style="padding-left:130px"><input type="submit" name="submit" value="Sign Up"></span></p>
    </form>
</body>

</html>